* {
   margin: 0;
   padding: 0;
}

header nav {
   width: 60%;
   height: 50px;
   position: absolute;
   top: 0;
   display: flex;
   gap: 20px;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;

}



header div {
   display: flex;
   gap: 30px;
}

header nav ul {
   display: flex;
   list-style-type: none;
   gap: 40px;
   align-items: center;

}

header nav ul li a {
   color: white;
   text-decoration: none;
   font-family: "noto Sans" sans-serif;
   font-size: 16px;


}



header nav img {
   width: 120px;
}












